# MacOS
.DS_Store

# Ignore data
*.png
*.jpg
*.jpeg

# Ignore dataset directory
dataset/

# Ignore batch scripts  
*.sh

# Ignore c++ compilation files
*.o

# Ignore executable files (compilation results)
*.exe
*.dmg
*.app

# Ignore build directory for dfrasm
dfrasm/bin/
